/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/style/main.scss ***!
  \**********************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap);
/*!**************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/style/main.scss (1) ***!
  \**************************************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  background: white;
  font-family: "Graphik LC TT", sans-serif;
}

img {
  max-width: 100%;
}

.heading-1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
}

.heading-2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
}

.heading-3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
}

.heading-4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.heading-5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.heading-6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.title-1,
.subheading-1 {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
}

.title-2,
.body-1,
.subheading-2 {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}

.title-3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
}

.body-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.body-3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.body-4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.body-5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.body-6 {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}

.body-7,
.selector,
.text-link {
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
}

.body-8 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

.desc,
.link-bolt {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.link-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.btn-success {
  font-weight: 700;
  font-size: 11px;
  line-height: 17px;
}

.btn-primary,
.btn-secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.main,
.footer,
.header {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
  max-width: 1322px;
  width: 100%;
  padding: 0 29px;
}

.container-1 {
  display: flex;
  max-width: 1348px;
  width: 100%;
  padding: 0 29px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.6s, filter 0.6s ease-in-out;
}

.btn-s {
  flex: 0 0 92px;
  height: 28px;
}

.btn-m {
  max-width: 103px;
  width: 100%;
  height: 40px;
}

.btn-l {
  max-width: 108px;
  width: 100%;
  height: 46px;
}

.btn-xl {
  flex: 0 0 186px;
  height: 46px;
}

.btn-xxl {
  flex: 0 0 193px;
  height: 46px;
}

.btn-outline {
  border: solid 1px #000;
  border-radius: 4px;
}

.btn-rounded {
  border-radius: 24px;
}

.btn-success {
  border-color: #a7bbc9;
  color: #1b365d;
}
.btn-success:hover {
  border: solid 1px #a7bbc9;
  background-color: #a7bbc9;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #1b365d;
}
.btn-secondary:hover {
  background-color: #1b365d;
  color: #fff;
}

.btn-primary {
  background-color: #1877f2;
  color: #fff;
}
.btn-primary:hover {
  background-color: #fff;
  color: #1b365d;
  border: 1px solid #1877f2;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.link-m {
  max-width: 120px;
  width: 100%;
  height: 40px;
}

.link-l {
  max-width: 127px;
  width: 100%;
  height: 46px;
}

.rounded {
  border-radius: 24px;
}

.link-btn {
  border: solid 1px #add4e0;
  background-color: #add4e0;
  transition: 0.6s, filter 0.6s ease-in-out;
}
.link-btn:hover {
  background-color: #fff;
  color: #1b365d;
}

.link-info {
  max-width: 80px;
}
.link-info:hover {
  color: #aeaba8;
  text-decoration: underline;
}

.text-link {
  color: #9ca5b0;
}
.text-link:hover {
  color: #aeaba8;
}

.nav__link {
  text-decoration: none;
  color: #1b365d;
}
.nav__link:hover {
  color: #aeaba8;
}

.footer-nav__link {
  text-decoration: none;
  color: #dadbdd;
}
.footer-nav__link:hover {
  color: #434141;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  max-width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3d434c;
  background-color: #272e38;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
}
.selector__title {
  max-width: 250px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}
.selector:hover .selector__title {
  border-radius: 5px 5px 0 0;
}

.objects {
  position: absolute;
  top: 0;
  padding-top: 40px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}
.objects__input {
  display: none;
}
.objects__input + .objects__body {
  color: #fff;
  background: #434141;
  display: block;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
.objects__label:nth-last-of-type(1) .objects__body {
  border-radius: 0 0 5px 5px;
}

.selector .objects__input:checked + .objects__body {
  background: #272e38;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

.selector:hover .objects__input:checked + .objects__body {
  border-radius: 0;
}

.selector:hover .objects .objects__input + .objects__body {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}

.selector:hover .objects__input + .objects__body:hover {
  background: #615e5c;
}

.selector:hover .objects__input:checked + .objects__body:hover {
  background: #74d68e;
}

.selector:hover .objects .objects__label:nth-last-of-type(1) .objects__input:checked + .objects__body {
  border-radius: 0 0 5px 5px;
}

.selector:hover .objects {
  max-height: 250px;
}

.grey {
  color: #9ca5b0;
}

.header {
  display: flex;
  justify-content: center;
}
.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  margin: 22px 10px 10px 0;
  min-width: 80px;
  max-width: 94px;
}
.header__right {
  display: flex;
  flex-direction: row;
  max-width: 485px;
  width: 100%;
  margin: 25px 0 27px;
  justify-content: space-between;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  flex: 0 1 293px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: 0 1 293px;
  justify-content: space-between;
}

.login {
  display: flex;
  width: 92px;
}

.banner {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("/img/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
}
.banner__container {
  flex-direction: column;
  width: 100%;
  position: relative;
}
.banner__content {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 195px 0 189px;
}
.banner__heading {
  margin: 0 0 17px;
  color: #1b365d;
}
.banner__subheading {
  margin: 0 0 40px;
}
.banner__btn {
  display: flex;
  max-width: 330px;
  width: 100%;
  flex-direction: row;
  gap: 27px;
  align-items: center;
}
.banner__btn-desc {
  color: #1b365d;
}

.special-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: -22px;
  left: -88px;
  gap: 17px;
  background-color: #f1c0c7;
}
.special-offer__img {
  margin: 16px 0 16px 88px;
}
.special-offer__text {
  max-width: 288px;
  width: 100%;
  margin: 0 23px 0 0;
  color: #1b365d;
}

.products {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 1440px;
}
.products__container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 114px 0 28px;
}

.products-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 304px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.products-cell__heading {
  margin: 447px 0 1px;
  color: #fff;
}
.products-cell__body {
  max-width: 203px;
  margin: 0 0 15px;
  color: #fff;
  text-align: center;
}
.products-cell__link {
  margin: 0 0 32px;
  color: #fff;
}

.cell-1 {
  background-image: url("/img/Portal TV.png");
}

.cell-2 {
  background-image: url("/img/Portal.png");
}

.cell-3 {
  background-image: url("/img/Portal+.png");
}

.cell-4 {
  background-image: url("/img/Portal Mini.png");
}

.keeps-every {
  display: flex;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to bottom, #fff 50%, #d0e8ea 50%);
}
.keeps-every__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.keeps-every__heading {
  max-width: 800px;
  margin: 0 0 35px;
  color: #1b365d;
}
.keeps-every__content {
  display: flex;
  flex-direction: row;
  max-width: 962px;
  justify-content: space-between;
  gap: 20px;
  margin: 0 0 56px;
  padding-left: 90px;
}

.action,
.view {
  max-width: 357px;
}
.action__heading,
.view__heading {
  margin: 32px 0 10px;
  color: #1b365d;
}
.action__body,
.view__body {
  margin: 0 0 15px;
  color: #434141;
}
.action__link,
.view__link {
  color: #1b365d;
}

.messengers {
  display: flex;
  width: 100%;
  justify-content: center;
}
.messengers__container {
  margin: 0 0 115px;
}
.messengers__img {
  display: flex;
  min-width: 0;
  max-width: 632px;
  width: 100%;
}
.messengers__content {
  width: 50%;
  margin: 8px 0 0;
}
.messengers__logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0 0 17px;
}
.messengers__heading {
  max-width: 459px;
  margin: 0 0 20px;
  color: #1b365d;
}
.messengers__subheading {
  max-width: 485px;
  margin: 0 0 16px;
  color: #615e5c;
}
.messengers__body {
  max-width: 505px;
  color: #aeaba8;
}

.story-time {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("/img/story_time.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.story-time__container {
  display: flex;
  flex-direction: column;
}
.story-time__content {
  margin: 325px 0 56px;
  color: #fff;
  border-left: 4px solid #add4e0;
  padding: 0 0 0 24px;
}
.story-time__heading {
  max-width: 426px;
  margin: 0 0 20px;
}
.story-time__subheading {
  max-width: 427px;
  margin: 0 0 23px;
}

.efects {
  color: #fff;
  margin: 0 0 58px;
}
.efects__masks {
  margin: 0 0 16px;
}
.efects__masks, .efects__perfect {
  padding: 0 0 0 24px;
  border-left: 4px solid #615e5c;
}

.built-in {
  display: flex;
  width: 100%;
  justify-content: center;
}
.built-in__container {
  display: flex;
  flex-direction: row;
  margin: 90px 0 53px;
}
.built-in__content-right {
  display: flex;
  flex-direction: column;
  max-width: 416px;
}
.built-in__logo {
  margin: 0 0 13px;
  max-width: 60px;
}
.built-in__heading {
  margin: 0 0 20px;
  color: #1b365d;
}
.built-in__body {
  margin: 0 0 46px;
  color: #615e5c;
}
.built-in__link {
  color: #1b365d;
}
.built-in__content-left {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  align-items: center;
}
.built-in__img {
  max-width: 100%;
}
.built-in__text {
  max-width: 465px;
  color: #aeaba8;
}

.private-tools {
  display: flex;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to bottom, #fff 50%, #d0e8ea 50%);
}
.private-tools__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.private {
  background-image: url("/img/private.png");
}
.private__heading {
  color: #1b365d;
}
.private__link {
  color: #1b365d;
}
.private__body {
  padding: 0 0 22px;
  margin: 0 0 15px;
  color: #434141;
}

.tools {
  background-image: url("/img/tools.png");
}
.tools__heading {
  color: #fff;
}
.tools__body {
  color: #fff;
  margin: 0 0 15px;
}
.tools__link {
  color: #fff;
}

.private,
.tools {
  display: flex;
  max-width: 622px;
  width: 100%;
  max-height: 622px;
  flex-direction: column;
  padding: 32px;
}
.private__heading,
.tools__heading {
  margin: 0 0 9px;
}
.private__link,
.tools__link {
  margin: 0 0 410px;
}

.shop {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #d0e8ea;
}
.shop__container {
  flex-direction: column;
}
.shop__heading {
  color: #1b365d;
  max-width: 480px;
  margin: 57px 0 27px;
}
.shop__content {
  display: flex;
  flex-flow: row;
  gap: 1.3%;
  overflow-x: auto;
  justify-content: space-between;
}
.shop__btn-box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 24px 0 29px;
}

.shop-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 51px;
  color: #1b365d;
}
.shop-offer__img {
  margin: 0 16px 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 23.85%;
  background-color: #f7f7f7;
  padding: 18px;
  align-items: center;
  margin: 0 0 16px;
}
.card__wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 24px;
  color: #1b365d;
}
.card__heading {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__img {
  max-width: 193px;
  margin: 0 0 25px;
}
.card__body {
  max-width: 136px;
  text-align: center;
  margin: 0 0 31px;
  color: #434141;
  overflow: hidden;
  max-height: 55px;
}
.card__btn {
  margin: 0 0 25px;
}
.card__link {
  margin: 0 0 24px;
  color: #1b365d;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #272e38;
}
.footer__container {
  flex-direction: row;
  justify-content: space-between;
  margin: 64px 0 61px;
}
.footer__logo {
  max-width: 128px;
  min-width: 80px;
  margin: 0 10px 0 0;
}
.footer__content {
  display: flex;
  flex-direction: column;
  max-width: 782px;
}
.footer__upper {
  display: flex;
  flex-direction: row;
  max-width: 710px;
  width: 100%;
  margin: 0 0 84px;
  gap: 10px;
  justify-content: space-between;
}
.footer__lower {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 21px;
}
.footer__lower-body {
  color: #9ca5b0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  max-width: 108px;
  width: 100%;
}
.footer-nav__list {
  list-style: none;
}
.footer-nav__item {
  margin: 0 0 17px;
}

.sign-up {
  max-width: 264px;
}
.sign-up__body {
  color: #9ca5b0;
  margin: 0 0 15px;
}
.sign-up__btn {
  margin: 0 0 52px;
}
