@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var.$black;
    transition: 0.6s, filter 0.6s ease-in-out;
}

.btn-1 {
    flex: 0 0 92px;
    height: 28px;
    border-radius: 4px;
    border: solid 1px var.$btn_1;
    color: var.$dark_dlue;

    &:hover {
        border: solid 1px var.$btn_1;
        background-color: var.$btn_1;
        color: var.$white;
    }
}

.btn-2 {
    flex: 0 0 186px;
    height: 46px;
    border-radius: 24px;
    background-color: var.$white;
    color: var.$dark_dlue;

    &:hover {
        background-color: var.$dark_dlue;
        color: var.$white;
    }
}

.btn-3 {
    max-width: 108px;
    width: 100%;
    height: 46px;
    border-radius: 24px;
    background-color: var.$medium_blue;
    color: var.$white;

    &:hover {
        background-color: var.$white;
        color: var.$dark_dlue;
        border: 1px solid var.$medium_blue;
    }
}

.btn-4 {
    max-width: 193px;
    width: 100%;
    height: 46px;
    border-radius: 24px;
    background-color: var.$white;
    color: var.$dark_dlue;

    &:hover {
        background-color: var.$medium_blue;
        color: var.$white;
    }
}

.btn-5 {
    max-width: 103px;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    background-color: var.$white;
    color: var.$dark_dlue;

    &:hover {
        background-color: var.$medium_blue;
        color: var.$white;
    }
}
