@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';

.link-1,
.link-2,
.link-3,
.link-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.link-1 {
    max-width: 120px;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    color: var.$white;
    transition: 0.6s, filter 0.6s ease-in-out;

    &:hover {
        background-color: var.$white;
        color: var.$dark_dlue;
    }
}

.link-2 {
    max-width: 127px;
    width: 100%;
    height: 46px;
    border-radius: 24px;
    border: solid 1px var.$blue;
    background-color: var.$blue;
    transition: 0.6s, filter 0.6s ease-in-out;

    &:hover {
        background-color: var.$white;
        color: var.$dark_dlue;
    }
}

.link-3,
.link-4 {
    max-width: 80px;

    &:hover {
        color: var.$lite_grey;
        text-decoration: underline;
    }
}

.link-5 {
    color: var.$medium_grey_footer;

    &:hover {
        color: var.$lite_grey;
    }
}

.nav__link {
    text-decoration: none;
    color: var.$dark_dlue;

    &:hover {
        color: var.$lite_grey;
    }
}

.footer-nav__link {
    text-decoration: none;
    color: var.$lite_grey_footer;

    &:hover {
        color: var.$lite_grey;
    }
}
