$black: #000;
$white: #fff;
$btn_1: #a7bbc9;
$dark_dlue: #1b365d;
$medium_blue: #1877f2;
$blue: #add4e0;
$dark_grey: #434141;
$medium_grey_footer: #9ca5b0;
$medium_grey: #615e5c;
$lite_grey_footer: #dadbdd;
$lite_grey: #aeaba8;
$footer_bg: #272e38;
$bg_white: #fff;
$bg_blue: #d0e8ea;
$lg_selector: #3d434c;
$green: #74d68e;
$card_bg: #f7f7f7;
