@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';
@use '../base/containers';

.header {
    display: flex;
    justify-content: center;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        margin: 22px 10px 10px 0;
        min-width: 80px;
        max-width: 94px;
    }

    &__right {
        display: flex;
        flex-direction: row;
        max-width: 485px;
        width: 100%;
        margin: 25px 0 27px;
        justify-content: space-between;
        gap: 10px;
    }
}

.nav {
    display: flex;
    align-items: center;
    flex: 0 1 293px;

    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex: 0 1 293px;
        justify-content: space-between;
    }
}

.login {
    display: flex;
    width: 92px;
}
