@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';
@use '../base/containers';

.private-tools {
    display: flex;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, var.$bg_white 50%, var.$bg_blue 50%);

    &__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.private {
    background-image: url('/img/private.png');

    &__heading {
        color: var.$dark_dlue;
    }

    &__link {
        color: var.$dark_dlue;
    }

    &__body {
        padding: 0 0 22px;
        margin: 0 0 15px;
        color: var.$dark_grey;
    }
}

.tools {
    background-image: url('/img/tools.png');

    &__heading {
        color: var.$white;
    }

    &__body {
        color: var.$white;
        margin: 0 0 15px;
    }

    &__link {
        color: var.$white;
    }
}

.private,
.tools {
    display: flex;
    max-width: 622px;
    width: 100%;
    max-height: 622px;
    flex-direction: column;
    padding: 32px;

    &__heading {
        margin: 0 0 9px;
    }

    &__link {
        margin: 0 0 410px;
    }
}
