@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';
@use '../base/containers';

.shop {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var.$bg_blue;

    &__container {
        flex-direction: column;
    }

    &__heading {
        color: var.$dark_dlue;
        max-width: 480px;
        margin: 57px 0 27px;
    }

    &__content {
        display: flex;
        flex-flow: row;
        gap: 1.3%;
        overflow-x: auto;
        justify-content: space-between;
    }

    &__btn-box {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 24px 0 29px;
    }
}

.shop-offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 51px;
    color: var.$dark_dlue;

    &__img {
        margin: 0 16px 0 0;
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 23.85%;
    background-color: var.$white;
    padding: 18px;
    align-items: center;
    margin: 0 0 16px;

    &__wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 24px;
        color: var.$dark_dlue;
    }

    &__heading {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__img {
        max-width: 193px;
        margin: 0 0 25px;
    }

    &__body {
        max-width: 136px;
        text-align: center;
        margin: 0 0 31px;
        color: var.$dark_grey;
        overflow: hidden;
        max-height: 55px;
    }

    &__btn {
        margin: 0 0 25px;
    }

    &__link {
        margin: 0 0 24px;
        color: var.$dark_dlue;
    }
}
