@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap';

.heading-1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
}

.heading-2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

.heading-3 {
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
}

.heading-4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}

.heading-5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.heading-6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.title-1,
.subheading-1 {
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
}

.title-2,
.body-1,
.subheading-2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}

.title-3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
}

.body-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.body-3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}

.body-4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.body-5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.body-6 {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

.body-7 {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
}

.body-8 {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

.nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.footer-nav__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}

.btn-2,
.link-1,
.link-4,
.desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.link-2,
.link-3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.link-5 {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
}

.btn-1 {
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
}

.btn-3,
.btn-4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
