<section class="banner">
    <div class="container banner__container">
        <div class="banner__content">
            <h1 class="heading-1 banner__heading">
                If you can’t be there, feel there with Portal
            </h1>
            <p class="subheading-1 banner__subheading">
                Smart video calling with Alexa Built‑in.
            </p>
            <div class="banner__btn">
                <a
                    href=""
                    class="btn btn-xl btn-rounded link-bolt btn-secondary banner__btn-demo"
                    >Watch the Demo</a
                >
                <p class="desc banner__btn-desc">Compare Portals</p>
            </div>
        </div>
        <div class="special-offer">
            <img class="special-offer__img" src="img/offer.png" alt="offer" />
            <div class="special-offer__text">
                <h6 class="title-3 special-offer__title">
                    Buy any 2 and save $50*
                </h6>
                <p class="body-5 special-offer__body">
                    Ship to multiple addresses at no extra cost.
                </p>
            </div>
        </div>
    </div>
</section>
