<section class="built-in">
    <div class="container built-in__container">
        <div class="built-in__content-right">
            <img class="built-in__logo" src="img/alexa.svg" alt="" />
            <h2 class="heading-2 built-in__heading">Alexa Built-in</h2>
            <p class="body-1 built-in__body">
                Portal comes with Alexa Built-in, so you can see and do more.
                Use your voice to control your smart home and check who’s at the
                front door, listen to your favorite music, watch the news and
                more, hands-free. Just ask.
            </p>
            <a
                class="link link-l link-medium link-btn rounded built-in__link"
                href=""
                >Learn More</a
            >
        </div>
        <div class="built-in__content-left">
            <img class="built-in__img" src="img/built-in.png" alt="" />
            <p class="body-6 built-in__text">
                Amazon, Alexa and all related logos are trademarks of
                Amazon.com, Inc. or its affiliate. Additional account
                registration, terms and fees may apply. Features may vary by
                location.
            </p>
        </div>
    </div>
</section>
