<header class="header">
    <div class="container-1 header__body">
        <div class="header__logo">
            <a class="Header__logo__link" href="">
                <img src="img/logo.svg" alt="logo" class="Header__logo__img" />
            </a>
        </div>
        <div class="header__right">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="">Product</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Features</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Support</a>
                    </li>
                </ul>
            </nav>

            <div class="login">
                <a href="" class="btn btn-s btn-outline btn-success login-btn"
                    >Log Into</a
                >
            </div>
        </div>
    </div>
</header>
