<section class="keeps-every">
    <div class="container keeps-every__container">
        <h2 class="heading-2 keeps-every__heading">
            Smart Camera keeps every conversation front and center
        </h2>
        <img class="keeps-every__img" src="img/Keeps_every.png" alt="" />
        <div class="keeps-every__content">
            <div class="action">
                <h5 class="heading-5 action__heading">
                    Keeps up with the action
                </h5>
                <p class="body-1 action__body">
                    Smart Camera automatically pans and zooms to keep up with
                    the action. Move and talk freely and always stay in frame.
                </p>
                <a class="link link-info link-medium action__link" href=""
                    >Learn More</a
                >
            </div>
            <div class="view">
                <h5 class="heading-5 view__heading">
                    Keeps up with the action
                </h5>
                <p class="body-1 view__body">
                    Smart Camera automatically pans and zooms to keep up with
                    the action. Move and talk freely and always stay in frame.
                </p>
                <a class="link link-info link-medium view__link" href=""
                    >Learn More</a
                >
            </div>
        </div>
    </div>
</section>
