<section class="messengers">
    <div class="container messengers__container">
        <img class="messengers__img" src="../img/messendgers.png" alt="" />
        <div class="messengers__content">
            <div class="messengers__logo">
                <img class="logo-mesendger" src="../img/mesendger.svg" alt="" />
                <img class="logo-whatsapp" src="../img/whatsapp.svg" alt="" />
            </div>

            <h2 class="heading-3 messengers__heading">
                Makes video calls with Messenger and WhatsApp
            </h2>
            <p class="subheading-2 messengers__subheading">
                Easily video call with friends and family on their smartphones
                and tablets, even if they don’t have Portal.
            </p>
            <p class="body-6 messengers__body">
                “Hey Portal” voice command availability varies. Learn more.
                Requires Messenger or WhatsApp account. WhatsApp is not
                available on tablets.
            </p>
        </div>
    </div>
</section>
