<section class="private-tools">
    <div class="container private-tools__container">
        <div class="private">
            <h4 class="heading-4 private__heading">Private by design</h4>
            <p class="body-2 private__body">
                Easily disable the camera and the microphone, or block the lens
                with the camera cover. And all Portal video calls are encrypted.
            </p>
            <a class="link-4 private__link" href="">Learn More</a>
        </div>
        <div class="tools">
            <h4 class="heading-4 tools__heading">Work smarter from home</h4>
            <p class="body-2 tools__body">
                Whether you and your co-workers use Workplace, BlueJeans,
                GoToMeeting, Webex or Zoom, Portal’s got the tools to keep you
                productive while working from home.
            </p>
            <a class="link-4 tools__link" href="">Learn More</a>
        </div>
    </div>
</section>
