<section class="products">
    <div class="container products__container">
        <div class="cell-1 products-cell">
            <h5 class="heading-5 products-cell__heading">Portal TV</h5>
            <p class="body-3 products-cell__body">
                Smart video calling on the biggest screen in your home
            </p>
            <a class="link-1 products-cell__link" href="">Learn More</a>
        </div>
        <div class="cell-2 products-cell">
            <h5 class="heading-5 products-cell__heading">Portal</h5>
            <p class="body-3 products-cell__body">
                Smart video calling on a 10” HD display
            </p>
            <a class="link-1 products-cell__link" href="">Learn More</a>
        </div>
        <div class="cell-3 products-cell">
            <h5 class="heading-5 products-cell__heading">Portal+</h5>
            <p class="body-3 products-cell__body">
                Smart video calling on a 15.6” HD display
            </p>
            <a class="link-1 products-cell__link" href="">Learn More</a>
        </div>
        <div class="cell-4 products-cell">
            <h5 class="heading-5 products-cell__heading">Portal Mini</h5>
            <p class="body-3 products-cell__body">
                Smart video calling on an 8” HD display
            </p>
            <a class="link-1 models-cell__link" href="">Learn More</a>
        </div>
    </div>
</section>
