<section class="shop">
    <div class="container shop__container">
        <h2 class="heading-2 shop__heading">
            Find the Portal that’s right for you
        </h2>
        <div class="shop-offer">
            <img class="shop-offer__img" src="img/offer.png" alt="offer" />
            <div class="shop-offer__text">
                <h6 class="title-2 shop-offer__title">
                    Buy any 2 and save $50*
                </h6>
                <p class="body-2 shop-offer__body">
                    Ship to multiple addresses at no extra cost.
                </p>
            </div>
        </div>

        <div class="shop__content">
            <div class="card">
                <div class="card__wraper">
                    <h6 class="heading-6 card__heading">Portal TV</h6>
                    <p class="heading-6 card__price">
                        <sup class="body-8">$</sup>149
                    </p>
                </div>
                <img class="card__img" src="img/portal_tv_card.png" alt="" />
                <p class="card__body">Smart video calling on your TV</p>
                <a class="btn btn-l btn-rounded btn-primary card__btn" href=""
                    >Buy Now</a
                >
                <a class="link link-info link-medium card__link" href=""
                    >Learn More</a
                >
            </div>
            <div class="card">
                <div class="card__wraper">
                    <h6 class="heading-6 card__heading">Portal</h6>
                    <p class="card__price"><sup class="body-8">$</sup>179</p>
                </div>
                <img class="card__img" src="img/portal_card.png" alt="" />
                <p class="card__body">
                    Smart video calling on a 10” HD display
                </p>
                <a class="btn btn-l btn-rounded btn-primary card__btn" href=""
                    >Buy Now</a
                >
                <a class="link link-info link-medium card__link" href=""
                    >Learn More</a
                >
            </div>
            <div class="card">
                <div class="card__wraper">
                    <h6 class="heading-6 card__heading">Portal+</h6>
                    <p class="card__price"><sup class="body-8">$</sup>279</p>
                </div>
                <img class="card__img" src="img/portal+_card.png" alt="" />
                <p class="card__body">
                    Smart video calling on a 15.6” HD display
                </p>
                <a class="btn btn-l btn-rounded btn-primary card__btn" href=""
                    >Buy Now</a
                >
                <a class="link link-info link-medium card__link" href=""
                    >Learn More</a
                >
            </div>
            <div class="card">
                <div class="card__wraper">
                    <h6 class="heading-6 card__heading">Portal Mini</h6>
                    <p class="card__price"><sup class="body-8">$</sup>129</p>
                </div>
                <img class="card__img" src="img/portal_mini_card.png" alt="" />
                <p class="card__body">
                    Smart video calling on an 8” HD display
                </p>
                <a class="btn btn-l btn-rounded btn-primary card__btn" href=""
                    >Buy Now</a
                >
                <a class="link link-info link-medium card__link" href=""
                    >Learn More</a
                >
            </div>
        </div>
        <div class="shop__btn-box">
            <a class="btn btn-xxl btn-rounded btn-secondary" href=""
                >Compare Products</a
            >
        </div>
    </div>
</section>
