<section class="story-time">
    <div class="container story-time__container">
        <div class="story-time__content">
            <h2 class="heading-2 story-time__heading">
                Don’t just read the story. Be the story.
            </h2>
            <p class="subheading-2 story-time__subheading">
                With Story Time you can bring your children’s favorite stories
                to life with music, animation and AR effects.
            </p>
            <p class="body-5 story-time__body">Discover</p>
        </div>
        <div class="efects">
            <p class="title-1 efects__masks">
                Put a smile on your face with AR masks.
            </p>
            <p class="title-1 efects__perfect">
                A photo frame that’s picture-perfect
            </p>
        </div>
    </div>
</section>
